<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hegunhee.android_basic_library">

    <!-- AndroidManifest.xml -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_basic_library">
        <activity android:name=".compose.StateCodelabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".compose.MaterialCodelabActivity"
            android:exported="true">

        </activity>
        <activity android:name=".compose.LayoutCodelabActivity"
            android:exported="true">


        </activity>
        <activity
            android:name=".compose.CodelabActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".compose.ComposeActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ChipTest.ChipTestActivity"
            android:exported="true"></activity>
        <activity
            android:name=".drawerLayoutTest.DrawerLayoutMainActivity"
            android:exported="true" />
        <activity
            android:name=".navigation.NavigationMainActivity"
            android:exported="true" />
        <activity
            android:name=".advancedNoti.LogActivity"
            android:exported="true" />

        <receiver
            android:name=".advancedNoti.MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".advancedNoti.ClickActivity"
            android:exported="true" />
        <activity
            android:name=".advancedNoti.MainActivity"
            android:exported="true" />
        <activity
            android:name=".fragment.FragmentContainerActivity"
            android:exported="true" />
        <activity
            android:name=".fragment.ActionViewActivity"
            android:exported="true" />
        <activity
            android:name=".fragment.MenuActivity"
            android:exported="true" />
        <activity
            android:name=".notification.NotifyActivity"
            android:exported="true" />

        <receiver
            android:name=".notification.NotifyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".fragment.MainActivity"
            android:exported="true" />
    </application>

</manifest>